TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=-1003723061243
TELEGRAM_GROUP_ID=-1003510224043
TEST_GROUP_ID=-5270638639
TELEGRAPH_TOKEN=
DEEPSEEK_API_KEY=
MINIFLUX_URL=http://localhost:8080
MINIFLUX_API_TOKEN=
MINIFLUX_USERNAME=admin
MINIFLUX_PASSWORD=
